# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#IDE-files
.idea
idea.*
*.swp
.project
.settings
.vscode

#scss
*.sass-cache
*.css
*.css.map

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.now/
